name: Terraform Deployment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select environment'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - prod
      action:
        description: 'Terraform action to run'
        required: true
        default: 'plan'
        type: choice
        options:
          - validate
          - plan
          - apply

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.14.2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Set Terraform working directory
        run: echo "TF_WORKDIR=_CloudOps/env/${{ github.event.inputs.environment }}" >> $GITHUB_ENV

      - name: Terraform Init
        run: terraform -chdir=$TF_WORKDIR init

      - name: Terraform Validate
        if: ${{ github.event.inputs.action == 'validate' }}
        run: terraform -chdir=$TF_WORKDIR validate

      - name: Terraform Plan
        if: ${{ github.event.inputs.action == 'plan' }}
        run: terraform -chdir=$TF_WORKDIR plan -out=tfplan

      - name: Terraform Apply
        if: ${{ github.event.inputs.action == 'apply' }}
        run: terraform -chdir=$TF_WORKDIR apply -auto-approve tfplan
